@import "tailwindcss";

/* src/index.css or a dedicated CSS file */

/* For all webkit browsers (Chrome, Safari, newer Edge) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE and Edge */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}